<div class="notification">
  <h3 class="text-center">通知</h3>
  <%= link_to notification_path, method: :delete do %>
    <i class="fas fa-trash" style="color: black;"></i>
     <h7 style="color: black;">全削除</h7>
  <% end %>
  <hr>
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <div class="users-index">
      <%= render notifications %>
    </div>
  <% else %>
    <div class="none">通知はありません</div>
  <% end %>
</div>