<div class="container">
  <h1 class="mb-5">マイページ</h1>
  <h2 class="heading">プロフィール</h2>
    <div class="profile-group">
      <div class="left content">
        <img src=<%= @user.image_id %> class = "icon_image">
        <!--フォロー一覧-->
        <!--フォロワー一覧-->
        <!--DM-->
      </div>
      <div class="right-content">
        <h3 class="profile-name"><%= @user.name %></h3>
        <h3 class="profile-introduction"><%= @user.introduction %></h3>
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
        <% end %>
      </div>
</div>