// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 本検索ページ
.search_result{
   text-align: center;
   padding-top: 30px;
}

.page{
   margin: 50px 0 10px 650px;
}

// 本詳細ページ

.book-detail{
   font-family: 'RocknRoll One', sans-serif;
}
.book-text{
   width: 600px;
   height: 600px;
   margin: 0 auto;

   .book-image{
   margin: 0 auto;
   padding-top: 50px;
}
   .book-title{
   text-align: center;
   padding-top: 30px;
   font-size: 20px;
}

}


.book-review{
   width: 400px;
   margin: 0 auto;
}

.book-rate{
   margin-left: 580px;
   margin-bottom: 10px;
}

.review-edit{
   text-align: center;
   margin-top: 10px;
}

.favorite-btn{
   margin-left: 960px;
   font-size: 20px;
}

.comments{
   width: 600px;
   margin: 0 auto;
}

.comments-count{
   margin-left: 485px;
}

.new-comment{
   margin-top: 20px;
   text-align: center;
}

// ランキングページ
.rank{
    font-family: 'RocknRoll One', sans-serif;
    h1{
       color: gold;
       text-shadow: 0 3px 3px black;
    }
}

.book_ranks{
   width: 800px;
   margin: 30px auto;
   .card-text{
   font-size: 20px;
}
　 .info{
   font-size: 20px;
}

}



