// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search_result{
   text-align: center;
   padding-top: 30px;
}

.book-text{
   width: 600px;
   height: 600px;
   margin: 0 auto;
}

.book-image{
   margin: 0 auto;
   padding-top: 50px;
}

.book-title{
   text-align: center;
   padding-top: 30px;
   font-size: 20px;
}

.book-review{
   width: 400px;
   height: 200px;
   margin: 0 auto;
}

.book-rate{
   margin-left: 580px;
   margin-bottom: 10px;
}

.review-edit{
   text-align: center;
   margin-top: 10px;
}

.favorite-btn{
   position: relative;
   bottom: 280px;
   left: 950px;
}

.comments{
   width: 600px;
   height: 200px;
   margin: 0 auto;
}

.comments-count{
   position: relative;
   left: 482px;
}
.new-comment{
   margin-top: 20px;
   text-align: center;
}

.page{
   text-align: center;
}

.book_ranks{
   .book_image{
      margin-left: 45%;
   }
   .card-text{
   font-size: 20px;
   text-align: center;
}
.info{
   font-size: 20px;
}
}



