// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.send-form{
    text-align: center;
}

.room-index{
   font-family: 'RocknRoll One', sans-serif;
   p{
    padding-top: 100px;
    text-align: center;
    color: #808080;
    font-size: 32px;
  }
}
.message-detail{
   font-family: 'RocknRoll One', sans-serif;
   #room{
     margin: 50px 0 70px 0;
   }
}
