// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notification{
  font-family: 'RocknRoll One', sans-serif;
}

.n-circle {
  position: absolute;
  left: 12px;
  color: #efa04c;
}

.icon_mini {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border: solid 1px;
  border-color: #d8d8d8;
  object-fit: cover;
}