// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon_image {
  width: 200px;
  height: 200px;
  //サイズ指定
  border-radius: 100px;
  border: solid 1px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}


h1{
  padding-top: 50px;
  text-align: center;
}

.search-form {
  padding-top: 30px;
  text-align: center;
}


p{
  padding-top: 100px;
  text-align: center;
  color: #d8d8d8;
  font-size: 32px;
}