// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// マイページ
.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid 1px;
  border-color: #d8d8d8;
  object-fit: cover;
}

.left-content{
  .follow-btn{
    margin-left: 45px;
  }
  .chat{
    position: relative;
    bottom: 35px;
    left: 170px;
    .my-gray{
      color: gray;
    }
  }
  .chat-index{
    position: relative;
    bottom: 32px;
    left: 250px;

  }
}

.bookshelf{
   background: #deb887f;
   .books{
    padding-left: 75px;
   }
}

.bookhover{
  transition-duration: 0.3s;

}
.bookhover:hover{
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.container{
  font-family: 'RocknRoll One', sans-serif;
}

// ユーザー検索ページ
.search-page {
   font-family: 'RocknRoll One', sans-serif;
  h1{
  padding-top: 50px;
  text-align: center;
 }

  p{
  padding-top: 100px;
  text-align: center;
  color: #d8d8d8;
  font-size: 32px;
}

}

.search-form {
  padding-top: 30px;
  text-align: center;
}

.form{
  margin: 0 auto;
}

// タイムラインページ

.tl{
  font-family: 'RocknRoll One', sans-serif;
}
.book-tl{
   width: 600px;
   height: 350px;
   margin: 0 auto;

   .book-user{
      color: #808080;
   }

   .book-box{
   width: 600px;
   height: 250px;
   }
   .icon_mini {
   width: 40px;
   height: 40px;
   border-radius: 100px;
   border: solid 1px;
   border-color: #d8d8d8;
   object-fit: cover;
   }
   .book-image{
   padding: 30px 0 5px 30px;
   }
   .book-title{
   position: relative;
   bottom: 180px;
   left: 200px;
   font-size: 25px;
   }
   .book-author{
   position: relative;
   bottom: 170px;
   left: 202px;
   font-size: 20px;
   }
}

#back {
  position: fixed;
  right: 20px;
  bottom: 80px;
}
.arrow {
  width: 50px;
  height: 50px;
}